aiomysql==0.1.1
anyio==3.5.0
certifi==2022.12.7
cffi==1.15.1
click==8.0.4
colorama==0.4.6
cryptography==39.0.1
fastapi==0.95.1
Flask==2.2.2
h11==0.12.0
httptools==0.5.0
idna==3.4
importlib-metadata==6.0.0
itsdangerous==2.0.1
Jinja2==3.1.2
MarkupSafe==2.1.1
pip==23.0.1
pycparser==2.21
pydantic==1.10.2
PyMySQL==1.0.2
PyYAML==6.0
setuptools==66.0.0
sniffio==1.2.0
sqlitedict==2.0.0
starlette==0.26.1
typing_extensions==4.5.0
uvicorn==0.20.0
watchfiles==0.18.1
websockets==10.4
Werkzeug==2.2.2
wheel==0.38.4
zipp==3.11.0
